body{
    background-image: url(../4097.jpg);
    background-size: auto;
}
#city{
    margin-bottom: 10px;
}

#code{
    margin-bottom: 10px;
}

td{
    text-align: center;
    font-family: cursive;
}

table{
    margin: 0 auto;
    background-color: aliceblue;
}
#main{

}
#head{
    margin: 8%;
}
h1{
    margin: auto;
}

#ok{
    margin-top: 10px;
}
p{
    margin: auto;
}
#content{
    margin: 20px;
}

#cont tr{
    background-color:ghostwhite;
}